<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145900812346-lq10da4jlj3kvidlgab0usb2u9lbejnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145900812346-lq10da4jlj3kvidlgab0usb2u9lbejnc</string>
	<key>API_KEY</key>
	<string>AIzaSyBLlndQDjDh_uYcRJcPmuSysUw9o5BSnUo</string>
	<key>GCM_SENDER_ID</key>
	<string>145900812346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.drexel.cleanlet</string>
	<key>PROJECT_ID</key>
	<string>cleanlet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanlet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145900812346:ios:6250ba7e4c0366738b9d03</string>
</dict>
</plist>